<div class="row">
  <div class="text-center">
      <h2 class="new_post"> 新規投稿</h2>
      <%= form_for(@image) do |f| %>
        <div class="post-image"> 
           <%= attachment_image_tag @image, :image, :fill, 100, 100, class: "image-thumbnail", fallback: "noimage.png" %>
          </div>
          <div class="image_field">
            <%= f.attachment_field :image, placeholder: "投稿画像", class: "edit_form" %>
          </div>
          <div class="caption-field">
            <div class="text-left">
              <h3>投稿説明</h3>
              <%= f.text_field :caption, autofocus: true, class: "form-control" %>
            </div>
          </div>
          <br>
          <div class=“category_field”>
        <%= f.label :category_id, "ジャンル" %>
        <%= f.collection_select :category_id, @categories, :id, :name, include_blank: "選択してください", class: "form_input" %>
            </div>
            <br>
          <%= f.submit "投稿する", class: "btn btn-success btn-block" %>
        <% end %>
  </div>
</div>