<div class="row">
	<div class="midashi">登録情報編集</div>
		<div class="acount-image">
			<%= form_for(@user) do |f| %>
			<div class="edit_image">
				<%= attachment_image_tag f.user, :profile_image, :fill, 100, 100, class: "image-circle pull-left profile_thumd", fallback: "no_image.jpg" %>
		    </div>
	        <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "edit_form" %>
	   <div class="field">
            <%= f.label :last_name, "名前", class: "form_label" %><br />
            <%= f.text_field :last_name, autofocus: true, autocomplete:"family-name", class: "form_input_s"%>
            <%= f.text_field :first_name, autofocus: true, autocomplete:"given-name", class: "form_input_s" %>
          </div>

          <div class="field">
            <%= f.label :last_name_kana, "フリガナ", class: "form_label" %><br />
            <%= f.text_field :last_name_kana, autofocus: true, autocomplete:"family-name" , class: "form_input_s"%>
            <%= f.text_field :first_name_kana, autofocus: true, autocomplete:"given-name", class: "form_input_s"%>
          </div>

          <div class="field">
            <%= f.label :email, "メールアドレス", class: "form_label" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form_input" %>
          </div>


          <div class="actions">
            <%= f.submit "編集", class: "form_submit white_txt bold" %>
          </div>
          <% end %>
      