<div class="row">
    <h2 class="midashi">登録詳細</h2>
    	<div class="image">
            <%= attachment_image_tag(@user,:profile_image, :fill, 100, 100, class:"image-circle", fallback: "no_image.jpg") %>
    	</div>
        <br>
        <div class="acount_name">
        	<%= @user.total_name %>
        </div>
        <br>
        <div class="acount_name_kana">
        	<%= @user.total_name_kana %>
        </div>
        <br>
        <div class="email">
        	<%= @user.email %>
        </div>
        <br>
        <div class="password">
        	<%= @user.password %>
        </div>
</div>

