<div class="container">
	<div class="row">
		<div class="admin-user-profile">
			<table  class="table table-hover table-inverse">
				<thead>
					<tr>
						<th>会員ID</th>
						<th>氏名</th>
						<th>メールアドレス</th>
						<th>ステータス</th>
					</tr>
				</thead>
				<tbody>
					<% @users. each do |user| %>
						<tr>
							<div class="ID">
								<td><%= user.id %></td>
								<td>
									<div class="image">
										<%= link_to admins_user_path(user) do %>
											<%= attachment_image_tag(user,:profile_image, size: "70x70", class: "img-circle", fallback: "no_image.jpg") %>
										<% end %>
									</div>
								
									<div class="name">
										<%= user.name %>
									</div>
								</td>
							</div>
							<div class="email">
								<td><%= user.email %></td>
							</div>
							<div class="acount_status">
								<td>
									<% if user.acount_status == true %>
										<p class="true">有効</p>
									<% else %>
										<p class="false">退会済み</p>	
									<% end %>
								</td>
							</div>
						</tr>
				　	<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>