<div class="row">	
	<div class="text-center">
		<div class="confirm-form">
			<h3>お問い合わせフォーム（確認）</h3>
			<br>
			<%= form_for @inquiry, url: thanks_inquiries_path, method: :get do |f| %>
				<%= f.label :お問い合わせ内容　%><br>
				<%= f.text_field :message %><br>
				<%= f.label :お名前 %><br>
				<%= f.text_field :name %><br>
				<%= f.label :メールアドレス %><br>
				<%= f.text_field :email %><br>
			  <%= f.submit '送信' %>
			<% end %>
		</div>
	</div>	
</div>
