<main class="clearfix">

    <div class="navs">
        <ul class="nav nav-pills nav-justified btn-lg">
            <li role="presentation" ><%= link_to "新着順", images_path %></li>
            <li role="presentation" ><%= link_to "いいね順", favorite_images_path %></li>
            <li role="presentation" class="active"><%= link_to "アクセス数順", access_images_path %></li>
        </ul>
    </div>

    <% @images.each.with_index(1) do |image, index| %>

        <div class="float-content">
        	<div class="post-image">
            		<%= link_to image_path(image) do %>
            		<%= attachment_image_tag image, :image, size: "300x300", format: 'jpeg', class: "post-image" %>
                    <% end %>
            </div>

            
            <div class="fct-profile-cont">
                <div class="fct-contents">       
                    <ul>
                        <li class="fct-cont">
                            <% if image.favorited_by?(current_user) %>
                                <%= link_to image_favorites_path(image), method: :delete do %>
                                <i class="fa fa-heart" aria-hidden = "true" style = "color: red;" >
                                    <%= image.favorites.count %>
                                </i>
                                <% end %>                                     
                            <% else %>
                                <%= link_to image_favorites_path(image), method: :post do %>
                                <i class="fa fa-heart-o" aria-hedden = "true" >
                                    <%= image.favorites.count %>
                                </i>
                                <% end %>
                            <% end %>
                        
                                <i class="fa fa-comment-alt" aria-hedden = "true">
                                    <%= image.comments.count %>
                                </i>  

                                <i class="fa fa-eye" aria-hedden = "true">
                                    <%= image.impressions.count %>
                                </i>

                        </li>
                    </ul>
                </div>

                <div class="post-image-title">
                    <%= image.title %>
                </div>

                <div class="acount text-left">
                    <table>
                        <tr>
                            <th class="acount-profile">
                                <td><%= attachment_image_tag(image.user, :profile_image, size: "80x80", class: "img-circle", fallback: "no_image.jpg") %></td>
                            </th>
                        
                            <th class="acount-name">
                                <td><%= image.user.name %></td>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    <% end %>  
</main>