<div class="container">
    <div class="row">
      	<h1 class="edit-title">投稿編集</h1>

            <%= render "layouts/errors", obj: @image %>

            <div class="image-edit-content">

        			<%= form_for(@image) do |f| %>

                  <div class="col-sm-7">
                			<div class="post-image">
                				  <%= attachment_image_tag @image, :image, size: "500x500", format: 'jpeg', class: "edit-image" %>
                		  </div>
                  </div>

                  <div class="col-sm-5">

                      <div class="image-field">
                          <%= f.attachment_field :image, placeholder: "投稿画像", class: "edit_form" %>
                      </div>

                      <div class="field">
                        <%= f.label :title, "タイトル", class: "form_label" %><br />
                        <%= f.text_field :title, class: "form_input btn-block" %>
                      </div>

                      <div class="field">
                        <%= f.label :caption, "投稿説明", class: "form_label" %><br />
                        <%= f.text_area :caption, class: "form_input btn-block" %>
                      </div>

                      <div class="actions">
                        <%= f.submit "編集を保存する", class: "btn btn-success btn-block" %>
                      </div>

                  </div>

              <% end %>
          </div>

    </div>
</div>