<%= render 'layouts/sidebar', categories: Category.all %>

    <div class="col-sm-10">
        <div class="post-image-content　clearfix">
            <div class="float-content">
            	<div class="post-image">
                    <% @images.each do |image| %>
                		<%= link_to image_path(image) do %>
                		<%= attachment_image_tag image, :image, size: "300x400", format: 'jpeg', class: "img-thumbnail" %>
                        <% end %>
                </div>

                <div class="caption">
                	<%= link_to image_path(image) do %>
                	<%= image.caption %>
                	<% end %>
                </div>

        　　　　　<div class="favorite">
                    <% if image.favorited_by?(current_user) %>
                        <div>
                            <%= link_to image_favorite_path(image), method: :delete do %>
                            <p class="fa fa-heart" aria-hidden = "true" style = "color: red;" ></p>
                            <%= image.favorites.count %>
                            <% end %>
                        </div>
                    <% else %>
                        <div>
                            <%= link_to image_favorites_path(image), method: :post do %>
                            <p class="fa fa-heart-o" aria-hedden = "true" ></p>
                            <%= image.favorites.count %>
                            <% end %>
                        </div>
                    <% end %>
                </div>

                <div class="comment-count">
                    <h6><%= image.comments.count %>件コメント</h6>
                </div>
                <% end %>  
            </div>
        </div>
    </div>

