<div class="show container">
    <div class="show1 row">
        <h1 class="show-title">投稿詳細</h1>
        <div class="col-sm-7">

    		<div class="post-image1">
        		<%= attachment_image_tag @image, :image, size: "550x450", format: 'jpeg', class: "show-image" %>
            </div>

            <div class="show-profile-cont">
                <div class="fct-contents">       
                    <ul>
                        <li class="fct-cont">
                            <% if @image.favorited_by?(current_user) %>
                                <%= link_to image_favorites_path(@image), method: :delete do %>
                                <i class="fa fa-heart" aria-hidden = "true" style = "color: red;" >
                                    <%= @image.favorites.count %>
                                </i>
                                <% end %>                                     
                            <% else %>
                                <%= link_to image_favorites_path(@image), method: :post do %>
                                <i class="fa fa-heart-o" aria-hedden = "true" >
                                    <%= @image.favorites.count %>
                                </i>
                                <% end %>
                            <% end %>
                        
                                <i class="fa fa-comment-alt" aria-hedden = "true">
                                    <%= @image.comments.count %>
                                </i>  

                                <i class="fa fa-eye" aria-hedden = "true">
                                    <%= @image.impressions.count %>
                                </i>

                        </li>
                    </ul>

                    <div class="acount">
                        <table>
                            <tr>
                                <th class="acount-profile">
                                    <td><%= attachment_image_tag(@image.user, :profile_image, size: "80x80", class: "img-circle", fallback: "no_image.jpg") %></td>
                                </th>
                            
                                <th class="acount-name">
                                    <td><%= @image.user.name %></td>
                                </th>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-5">

            <h3 class="google-map">GoogleMap</h3>

                <div id= 'map'></div>
                <script type="text/javascript">

                    function initMap() {
                       
                        var test = {lat: <%= @image.latitude %>, lng: <%= @image.longitude %>};
                        var map = new google.maps.Map(document.getElementById('map'), {
                                  zoom: 8, 
                                  center: test
                                  });
                        var transitLayer = new google.maps.TransitLayer();
                        transitLayer.setMap(map);

                        var contentString = '住所：<%= @image.address %>';
                        var infowindow = new google.maps.InfoWindow({
                          content: contentString
                        });

                        var marker = new google.maps.Marker({
                                      position:test,
                                      map: map,
                                      title: contentString
                                     });

                         marker.addListener('click', function() {
                           infowindow.open(map, marker);
                         });
                    }

                </script>

                <script async defer
                    src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
                </script>
                
                <table class="table table_noborder">

                    <tr>
                        <th>キャンプ場名</th>
                            <td class="map-address">
                                <%= @image.address %>
                            </td>
                    </tr>

                    <tr>
                        <th>タイトル</th>
                            <td class="title">
                                <%= @image.title %>
                            </td>
                    </tr>

                    <tr>
                        <th>投稿説明</th>
                            <td class="caption">
                                <%= @image.caption %>
                            </td>
                    </tr>

                </table>

                <% if @image.user == current_user %>
                    <div class="links">
                    	<%= link_to "投稿を編集する", edit_image_path(@image), class: "btn btn-primary btn-block" %> 

                        <%= link_to "投稿を削除する", image_path(@image), class: "btn btn-danger btn-block", method: :delete %>
                    </div>
                <% end %>

        </div>
    </div>

    <div class="border-row">
        <div class="col-lg">
            <hr>
        </div>
    </div>

    <div class="show2 row">
        <div class="comment-contents">
            <h2 class="comment-title">コメント欄</h2>
            <div class="col-sm-7">

                <div class="comment-index">
                    <% @image.comments.each do |comment| %>

                        <table class="comment-index table table-hover table-inverse">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>名前</th>
                                        <th>コメント</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <%= attachment_image_tag comment.user, :profile_image,  size: "60x60", format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
                                        </td>

                                        <td><%= comment.user.name %></td>

                                        <td><%= comment.comment %></td>

                                        <td class="link">
                                            <% if comment.user == current_user %>
                                                <%= link_to "削除", image_comment_path(comment.image, comment), method: :delete, class: "btn btn-danger pull-right" %>
                                            <% end %>
                                        </td>
                                    </tr>
                                </tbody>
                        </table>
                               
                    <% end %>
                </div>

            </div>

            <div class="col-sm-5">
                <div class="comment-form">

                    <%= render "layouts/errors", obj: @image %>

                    <%= form_for [@image, @comment] do |f| %>
                        <div class="row">
                            <div class="col-sm-12">
                                <%= f.text_area :comment, class: "btn btn-block" %>
                            </div>
                        </div>
                        <%= f.submit "コメントする", class: "btn btn-primary pull-right" %>
                    <% end %>
                </div>               
            </div>

        </div>
    </div>
</div>