<header>
    <div class="sidebar-content">
        <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
        <label for="openSidebarMenu" class="sidebarIconToggle">
            <div class="spinner diagonal part-1"></div>
            <div class="spinner horizontal"></div>
            <div class="spinner diagonal part-2"></div>
        </label>
        <div id="sidebarMenu">
            <ul class="sidebarMenuInner">
                            
                <div class="sidebar-title">カテゴリー</div>
                    <% @categories.each do |category| %>
                      <% if category.active_status == true %>
                          <li><%=link_to category_path(category) do %>
                              <%= category.name %>
                              <% end %>
                          </li>
                      <% end %>
                    <% end %>

            </ul>
        </div>
    </div>

    <div class="header-content">

        <div class="drawer">

            <!-- ハンバーガーメニューの表示・非表示を切り替えるチェックボックス -->
            <input type="checkbox" id="drawer-check" class="drawer-hidden" >
            <!-- ハンバーガーアイコン -->
            <label for="drawer-check" class="drawer-open"><span></span></label>

            <nav class="drawer-content">
                <ul class="nav navbar-nav navbar-right drawer-list" >
                    <% if user_signed_in? %>

                      <li class="drawer-item">
                        <%= link_to new_image_path do %>
                          <span class="new_post">　新規投稿</span>
                        <% end %>
                      </li>

                      <li class="drawer-item">
                        <%= link_to images_path do %>
                          <span class="new_post">　投稿一覧</span>
                        <% end %>
                      </li>

                      <li class="drawer-item">
                        <%= link_to user_path(current_user) do %>
                          <span class="mypege">　マイページ</span>
                        <% end %>
                      </li>

                      <li class="drawer-item">
                        <%= link_to new_inquiry_path do %>
                          <span class="mypege">　お問い合わせ</span>
                        <% end %>
                      </li>

                      <li class="drawer-item">
                        <%= link_to destroy_user_session_path, method: :delete do %>
                          <span class="logout">　logout</span>
                        <% end %>
                      </li>

                    <% elsif admin_signed_in? %>

                      <li class="drawer-item">
                        <%= link_to "Home", admins_home_path %> 
                      </li>

                      <li class="drawer-item">
                        <%= link_to "投稿一覧", admins_images_path %> 
                      </li>

                      <li class="drawer-item">
                        <%= link_to "会員一覧", admins_users_path %>
                      </li>

                      <li class="drawer-item">
                        <%= link_to "カテゴリー", admins_categories_path %>
                      </li>

                      <li class="drawer-item">
                        <%= link_to "logout", destroy_admin_session_path, method: :delete %>
                      </li>

                    <% else %>

                      <li class="drawer-item">
                        <%= link_to'Home', root_path %>
                      </li>

                      <li class="drawer-item">
                        <%= link_to'About', home_about_path %>
                      </li>

                      <li class="drawer-item">
                        <%= link_to "login", new_user_session_path %>
                      </li>

                    <% end %>
                </ul>
            </nav>
        </div>
    </div>
</header>