<header>
    <div class="sidebar-content">
        <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
        <label for="openSidebarMenu" class="sidebarIconToggle">
            <div class="spinner diagonal part-1"></div>
            <div class="spinner horizontal"></div>
            <div class="spinner diagonal part-2"></div>
        </label>
        <div id="sidebarMenu">
            <ul class="sidebarMenuInner">
                
                <h3 class="category-title">カテゴリー一覧</h3>
                <% @categories.each do |category| %>
                    <% if category.active_status == true %>
                        <li>
                            <%= link_to admins_category_path(category) do %>
                             <%= category.name %>
                            <% end %>
                        </li>
                    <% end %>
                <% end %>
                <%= link_to new_image_path do %>
                    <h2 class="new_post">新規投稿</h2>
                <% end %>
            </ul>
        </div>
    </div>

    <div class="header-content"> 
        <ul class="nav navbar-nav navbar-right" >
            <% if user_signed_in? %>

              <li class="user">
                <%= link_to user_path(current_user) do %>
                  <span class="glyphicon glyphicon-home" aria-hidden="true">　マイページ</span>
                <% end %>
              </li>

              <li class="user">
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <span class="glyphicon glyphicon-log-out" aria-hidden="true">　logout</span>
                <% end %>
              </li>

            <% elsif admin_signed_in? %>

              <li class="admin">
                <%= link_to "投稿一覧", admins_images_path %> 
              </li>

              <li class="admin">
                <%= link_to "会員一覧", admins_users_path %>
              </li>

              <li class="admin">
                <%= link_to "カテゴリー", admins_categories_path %>
              </li>

              <li class="admin">
                <%= link_to "logout", destroy_admin_session_path, method: :delete %>
              </li>

            <% else %>
              <li class="guests">
                <%= link_to'Home', root_path %>
              </li>

              <li class="guests">
                <%= link_to'About', home_about_path %>
              </li>

              <li class="guests">
                <%= link_to "login", new_user_session_path %>
              </li>

            <% end %>
        </ul>
    </div>
</header>